body {
	margin: 0;
	font-family: Manrope, sans-serif;
	background: #b2fefa; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#d2ffd9,
		#0ed2f7,
		#b2fefa,
		#f5fffe
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#d2ffd9,
		#5fddf7,
		#b2fefa,
		#f5fffe
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-size: 400% 400%;
	background-position-x: right;
	background-position-y: top;
	display: flex;
	justify-content: space-between;
	min-height: 100vh;
	animation: gradientAnim 15s ease-in-out 0s infinite reverse both;
}

@keyframes gradientAnim {
	50% {
		background-position-x: left;
		background-position-y: bottom;
	}
}

#mobileMenu {
	display: none;
}

/* HEADER */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.75rem 2rem;
	height: 4rem;
}

header > h1 {
	margin: 0;
}

header > h1 > a {
	text-decoration: none;
	color: #004f8f;
}

header > h1 > a > span {
	color: #008cff;
}

header > nav > a {
	text-decoration: none;
	font-size: 1.2em;
	color: #0079b1;
	margin: 0 1em;
	border-radius: 4px;
	border: dotted 1.5px;
	padding: 8px;
}

header > nav > a:hover {
	border: solid 2px;
}

main {
	/* display: grid; */
	width: 75%;
}

/* CAROUSEL */
.carousel {
	background-image: url('../img/login_background.svg');
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
	width: 100%;
	height: 80%;
	/* animation: floating 10s ease-in-out 0s infinite normal both; */
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes floating {
	50% {
		transform: translateY(-10px) translateX(-3px);
	}
}

/*FORM*/
.form-holder,
.sidebar {
	width: 30%;
	background-color: white;
	display: flex;
	justify-content: center;
	box-shadow: -1px 0 15px #0000001e;
}

#login-form > label > span {
	display: flex;
	align-items: center;
}

/* FOOTER */
footer {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	bottom: 0;
	display: flex;
	padding: 2rem 5rem;
	background-color: #000d18;
	backdrop-filter: blur(20px);
	justify-content: space-between;
	align-items: center;
}

.footer-nav {
	display: flex;
	justify-content: center;
	font-size: 1em;
}

.footer-nav > a {
	text-decoration: none;
	color: #fff;
	margin: 0 1rem;
	border: 2px dotted #000;
}

.footer-nav > a:hover {
	border-bottom: 2px dotted #fff;
}

.app-store-links {
	display: flex;
}

.app-store-links > div {
	background-image: url('../img/play_store_svg.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 1rem;
	width: 10rem;
	height: 4rem;
}

.app-store-links > div:nth-child(2) {
	background-image: url('../img/app_store_svg.svg');
}

/* FEED PAGE*/
#video-player {
	background: #0000008f;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 30rem;
	width: 40rem;
	margin-top: -5rem;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 5px #0000001e;
}

#video-player > img {
	display: none;
	width: inherit;
	height: inherit;
}

#video-player > p {
	color: #fff;
	font-size: 1.3em;
}

#video-player > #spinner {
	display: none;
	width: 4rem;
	height: 4rem;
	background-image: url('../img/loader.png');
	animation: spin 1s linear 0s infinite normal forwards;
}

@keyframes spin {
	100% {
		transform: rotateZ(360deg);
	}
}

.sidebar {
	padding: 8rem 1.5rem;
	max-width: 22rem;
}

#camera-select {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.camera-card {
	display: flex;
	margin-bottom: 2rem;
	padding: 10px;
	border: 1px #ccc solid;
	border-radius: 4px;
	box-shadow: 0px 1px 1px #000d1841;
	width: 100%;
	transition: all ease-in-out 150ms;
}

.camera-card:hover {
	box-shadow: 0px 1px 10px #000d1841;
}

.camera-card.selected {
	background-color: #00000010;
	border-color: #000000;
	box-shadow: 0px 1px 5px #000d1841;
}

.camera-card > div > p {
	margin: 0;
}

.thumbnail {
	width: 6rem;
	height: 5rem;
	background: #bdc3c7; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#ffffff,
		#494949
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ffffff,
		#494949
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-size: 400% 400%;
	background-position-x: right;
	background-position-y: top;
	animation: gradientAnim 10s ease-in-out 0s infinite reverse both;
	margin-right: 10px;
}
