@media screen and (min-width:770px){

	body {
		display: flex;
	}
	#flex-container {
		flex-direction: row;
		width: 100%;
	}

	.sidebar {
		width: 25%;
		padding: 8rem 1.5rem;
		max-width: 22rem;
		height: 25rem;
	}

	#camera-select {
		align-items: center;
	}

	#camera-select h2 {
		font-size: 24px;
	}

	#camera-select h3 {
		font-size: 19px;
	}

	.carousel {
		background-size: 70%;
	}

	#child1 {
		width: 75%;
	}

	#grand-child1 {
		padding: 0.75rem 2rem;
		height: 4rem;
	}
	#grand-child1 h1 a{
		font-size: 32px;
	}

	#grand-child1 nav a{
		margin: 0 1em;
		padding: 8px;
	}

	#video-player {
		width: 40rem;
		height: 30rem;
	}

	#video-player p{
		font-size: 1.3em;
	}

	footer {
		position: absolute;
		flex-direction: row;
		bottom: 0;
	}

	.app-store-links > div {
		width: 10rem;
	}
}